h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .timer-buttons {
    display: inherit;
    flex-direction: row;
}

.container #timer-clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin: 8px;
}

.container #extra-information {
    font-size: 16px;
    margin-top: 16px;
}
